
#include <behaviors.dtsi>
// num_word was provided by urob/zmk-auto-layer (v0.3 era). Dropped during the
// ZMK main migration on 2026-05-22 — see config/west.yml. td_nav_num now uses
// <&tog NAV>, <&tog NUM> instead (see tapdance.dtsi).
// #include <behaviors/num_word.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/pointing.h>

#define BASE     0
#define COLEMAK  1
#define SYSTEM   2
#define RAISE    3
#define NAV      4
#define NUM      5
#define SCROLL   6
#define GAMING   7

#include "combos.dtsi"
#include "macros.dtsi"
#include "behaviors.dtsi"
#include "tapdance.dtsi"
#include "morphs.dtsi"

/ {
    keymap {
        compatible = "zmk,keymap";

// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

        base_layer {
display-name = "BASE";
/*             ┌─────────┬─────────┬─────────┬─────────┬─────────┐                    ┌─────────┬─────────┬─────────┬─────────┬─────────┐
               │    Q    │    W    │    E    │    R    │    T    │                    │    Y    │    U    │    I    │    O    │   P/Å   │
   ┌───────────┼─────────┼─────────┼─────────┼─────────┼─────────┤                    ├─────────┼─────────┼─────────┼─────────┼─────────┼───────────┐
   │    ───    │ A/GUI/Ä │  S/ALT  │ D/SHFT  │  F/CTRL │    G    │                    │    H    │  J/GUI  │ K/SHFT  │  L/ALT  │  ;/CTRL │    ───    │
   ├───────────┼─────────┼─────────┼─────────┼─────────┼─────────┤╭────────╮╭────────╮├─────────┼─────────┼─────────┼─────────┼─────────┼───────────┤
   │    ───    │    Z    │    X    │    C    │    V    │    B    ││ ENTER  ││SCR→H   ││    N    │    M    │   ,/;   │   ./:   │   ?/!   │    ───    │
   └───────────┴─────────┴─────────┼─────────┼─────────┼─────────┼╰────────╯╰────────╯┼─────────┼─────────┼─────────┼─────────┴─────────┴───────────┘
                                   │SYS/GAME │SPC/RAISE│ CMKDH  │   ───   ││   ───   │  ENTER  │SPC/RAISE│NAV/NUM  │
                                   └─────────┴─────────┴─────────┴─────────┘└─────────┴─────────┴─────────┴─────────┘
                                   tap = SYSTEM, double-tap = GAMING toggle                                       */
bindings = <
//╷           ╷         ╷         ╷         ╷         ╷         ╷         ╷╷         ╷         ╷         ╷         ╷         ╷         ╷           ╷
                &kp Q     &kp W     &kp E     &kp R     &kp T                          &kp Y     &kp U     &kp I     &kp O     &td_p
    &trans      &td_a     &hml LALT S  &hml LSHFT D  &hml LCTRL F  &kp G                 &kp H     &hmr RGUI J  &hmr RSHFT K  &hmr RALT L  &hmr RCTRL SEMI  &trans
    &trans      &kp Z     &kp X     &kp C     &kp V     &kp B     &kp RET    &tog SCROLL  &kp N     &kp M     &mm_comma &mm_dot   &mm_qmark &trans
                                    &td_sys_gaming  &lt RAISE SPACE  &td_colemak  &trans  &trans  &kp RET  &lt RAISE SPACE  &td_nav_num
        >;
        sensor-bindings = <&inc_dec_kp UP DOWN &inc_dec_kp C_AC_SCROLL_UP C_AC_SCROLL_DOWN>;
        };

// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

        colemak_layer {
display-name = "COLEMAK";
/*             ┌─────────┬─────────┬─────────┬─────────┬─────────┐                    ┌─────────┬─────────┬─────────┬─────────┬─────────┐
               │    Q    │    W    │    F    │    P    │    B    │                    │    J    │    L    │    U    │    Y    │  ;/Å    │
   ┌───────────┼─────────┼─────────┼─────────┼─────────┼─────────┤                    ├─────────┼─────────┼─────────┼─────────┼─────────┼───────────┐
   │    ───    │ A/GUI/Ä │  R/ALT  │ S/SHFT  │  T/CTRL │    G    │                    │    M    │  N/GUI  │ E/SHFT  │  I/ALT  │ O/CTRL/Ö│    ───    │
   ├───────────┼─────────┼─────────┼─────────┼─────────┼─────────┤╭────────╮╭────────╮├─────────┼─────────┼─────────┼─────────┼─────────┼───────────┤
   │    ───    │    Z    │    X    │    C    │    D    │    V    ││ ENTER  ││SCR→H   ││    K    │    H    │   ,/;   │   ./:   │   ?/!   │    ───    │
   └───────────┴─────────┴─────────┼─────────┼─────────┼─────────┼╰────────╯╰────────╯┼─────────┼─────────┼─────────┼─────────┴─────────┴───────────┘
                                   │  (SYS)  │(RAISE)  │ CMKDH  │   ───   ││   ───   │ (ENTER) │(RAISE)  │(NAV/NUM)│
                                   └─────────┴─────────┴─────────┴─────────┘└─────────┴─────────┴─────────┴─────────┘  */
bindings = <
//╷           ╷         ╷         ╷         ╷         ╷         ╷         ╷╷         ╷         ╷         ╷         ╷         ╷         ╷           ╷
                &kp Q     &kp W     &kp F     &kp P     &kp B                          &kp J     &kp L     &kp U     &kp Y     &td_semi_aa
    &trans      &td_a     &hml LALT R  &hml LSHFT S  &hml LCTRL T  &kp G                 &kp M     &hmr RGUI N  &hmr RSHFT E  &hmr RALT I  &td_o_colemak  &trans
    &trans      &kp Z     &kp X     &kp C     &kp D     &kp V     &trans     &trans    &kp K     &kp H     &mm_comma &mm_dot   &mm_qmark &trans
                                    &trans    &trans    &trans    &trans     &trans    &trans    &trans    &trans
        >;
        sensor-bindings = <&inc_dec_kp UP DOWN &inc_dec_kp C_AC_SCROLL_UP C_AC_SCROLL_DOWN>;
        };

// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

        system_layer {
display-name = "SYSTEM";
/*             ┌─────────┬─────────┬─────────┬─────────┬─────────┐                    ┌─────────┬─────────┬─────────┬─────────┬─────────┐
               │         │         │         │         │         │                    │         │         │         │         │         │
   ┌───────────┼─────────┼─────────┼─────────┼─────────┼─────────┤                    ├─────────┼─────────┼─────────┼─────────┼─────────┼───────────┐
   │           │         │         │         │         │         │                    │         │W+C+←    │         │W+C+→    │         │           │
   ├───────────┼─────────┼─────────┼─────────┼─────────┼─────────┤╭────────╮╭────────╮├─────────┼─────────┼─────────┼─────────┼─────────┼───────────┤
   │           │         │         │         │         │         ││        ││        ││         │         │ C_PREV  │  C_PP   │ C_NEXT  │           │
   └───────────┴─────────┴─────────┼─────────┼─────────┼─────────┼╰────────╯╰────────╯┼─────────┼─────────┼─────────┼─────────┴─────────┴───────────┘
                                   │         │         │         │         ││         │         │         │         │                                  */
bindings = <
//╷           ╷         ╷         ╷         ╷         ╷         ╷         ╷╷         ╷         ╷         ╷         ╷         ╷         ╷           ╷
                &trans    &trans    &trans    &trans     &trans                         &trans    &trans   &trans     &trans    &trans
    &trans      &trans    &trans    &trans    &trans     &trans               &trans    &trans    &kp LG(LC(LEFT)) &trans     &kp LG(LC(RIGHT)) &trans
    &trans      &trans    &trans    &trans    &trans     &trans    &trans     &trans    &trans    &trans   &kp C_PREV  &kp C_PP  &kp C_NEXT  &trans
                                    &trans    &trans     &trans    &trans     &trans    &trans    &trans   &trans
        >;
        sensor-bindings = <&inc_dec_kp UP DOWN &inc_dec_kp C_AC_SCROLL_UP C_AC_SCROLL_DOWN>;
        };

// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

        raise_layer {
display-name = "RAISE";
/*             ┌─────────┬─────────┬─────────┬─────────┬─────────┐                    ┌─────────┬─────────┬─────────┬─────────┬─────────┐
               │  BT 0   │  BT 1   │  BT 2   │  BT 3   │OUT TOG  │                    │         │         │         │         │         │
   ┌───────────┼─────────┼─────────┼─────────┼─────────┼─────────┤                    ├─────────┼─────────┼─────────┼─────────┼─────────┼───────────┐
   │           │ BT CLR  │         │         │         │         │                    │  BSPC   │         │         │         │    Ö    │           │
   ├───────────┼─────────┼─────────┼─────────┼─────────┼─────────┤╭────────╮╭────────╮├─────────┼─────────┼─────────┼─────────┼─────────┼───────────┤
   │           │         │         │         │         │         ││        ││        ││         │         │         │         │         │           │
   └───────────┴─────────┴─────────┼─────────┼─────────┼─────────┼╰────────╯╰────────╯┼─────────┼─────────┼─────────┼─────────┴─────────┴───────────┘
                                   │         │         │         │         ││         │         │         │         │                                  */
bindings = <
//╷           ╷         ╷         ╷         ╷         ╷         ╷         ╷╷         ╷         ╷         ╷         ╷         ╷         ╷           ╷
                &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &out OUT_TOG              &trans    &trans    &trans    &trans    &trans
    &trans      &trans        &trans        &trans        &trans        &trans                    &kp BSPC  &trans    &trans    &trans    &kp RA(O) &trans
    &trans      &bt BT_CLR    &trans        &trans        &trans        &trans    &trans  &trans  &trans    &trans    &trans    &trans    &trans    &trans
                                            &trans        &trans        &trans    &trans  &trans  &trans    &trans    &trans
        >;
        sensor-bindings = <&inc_dec_kp UP DOWN &inc_dec_kp C_AC_SCROLL_UP C_AC_SCROLL_DOWN>;
        };

// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

        nav_layer {
display-name = "NAV";
bindings = <
//╷           ╷         ╷         ╷         ╷         ╷         ╷         ╷╷         ╷         ╷         ╷         ╷         ╷         ╷           ╷
                &trans    &trans    &trans    &trans    &trans                         &kp PG_UP    &trans    &kp UP    &trans    &kp HOME
    &trans      &trans    &trans    &trans    &trans    &trans                         &kp PG_DN     &kp LEFT    &kp DOWN    &kp RIGHT    &kp END    &trans
    &trans      &trans    &trans    &trans    &trans    &trans    &trans     &trans    &trans    &trans    &trans    &trans    &trans    &trans
                                    &trans    &trans    &trans    &trans     &trans    &trans    &trans    &trans
        >;
        sensor-bindings = <&inc_dec_kp UP DOWN &inc_dec_kp C_AC_SCROLL_UP C_AC_SCROLL_DOWN>;
        };

// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

        num_layer {
display-name = "NUM";
bindings = <
//╷           ╷         ╷         ╷         ╷         ╷         ╷         ╷╷         ╷         ╷         ╷         ╷         ╷         ╷           ╷
                &trans    &kp F9    &kp F10   &kp F11   &kp F12                        &trans    &kp KP_N7  &kp KP_N8  &kp KP_N9  &trans
    &trans      &trans    &kp F5    &kp F6    &kp F7    &kp F8                         &trans    &kp KP_N4  &kp KP_N5  &kp KP_N6  &trans  &trans
    &trans      &trans    &kp F1    &kp F2    &kp F3    &kp F4    &trans     &trans    &trans    &kp KP_N1  &kp KP_N2  &kp KP_N3  &trans  &trans
                                    &trans    &trans    &trans    &trans     &trans    &trans    &trans     &trans
        >;
        sensor-bindings = <&inc_dec_kp UP DOWN &inc_dec_kp C_AC_SCROLL_UP C_AC_SCROLL_DOWN>;
        };

// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

        scroll_layer {
display-name = "SCROLL";
bindings = <
//╷           ╷         ╷         ╷         ╷         ╷         ╷         ╷╷         ╷         ╷         ╷         ╷         ╷         ╷           ╷
                &trans    &trans    &trans    &trans    &trans                         &trans    &trans    &trans    &trans    &trans
    &trans      &trans    &trans    &trans    &trans    &trans                         &trans    &trans    &trans    &trans    &trans    &trans
    &trans      &trans    &trans    &trans    &trans    &trans    &trans     &trans    &trans    &trans    &trans    &trans    &trans    &trans
                                    &trans    &trans    &trans    &trans     &trans    &trans    &trans    &trans
        >;
        sensor-bindings = <&inc_dec_kp UP DOWN &scrl_h>;
        };

// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

        gaming_layer {
display-name = "GAMING";
/*  ╔═══════════════════════════════════════════════════════════════════════════════════════════════════╗
    ║  GAMING — pure-keypress layer, no mods, no morphs, no tap-dances, no combos.                      ║
    ║  Entered/exited via SYS thumb double-tap (`td_sys_gaming`). Plain `&kp` everywhere so home-row    ║
    ║  letters under heavy hold (e.g. WASD) never trigger mods. Combos do not fire on this layer        ║
    ║  because each combo lists explicit `layers = <BASE COLEMAK>` (or SYSTEM); none lists GAMING.      ║
    ║  Encoder is plain ↑↓ / scroll like BASE, but with no hold-tap / sensor-rotate layering quirks.    ║
    ╚═══════════════════════════════════════════════════════════════════════════════════════════════════╝
               ┌─────────┬─────────┬─────────┬─────────┬─────────┐                    ┌─────────┬─────────┬─────────┬─────────┬─────────┐
               │    Q    │    W    │    E    │    R    │    T    │                    │    Y    │    U    │    I    │    O    │    P    │
   ┌───────────┼─────────┼─────────┼─────────┼─────────┼─────────┤                    ├─────────┼─────────┼─────────┼─────────┼─────────┼───────────┐
   │    ───    │    A    │    S    │    D    │    F    │    G    │                    │    H    │    J    │    K    │    L    │    ;    │    ───    │
   ├───────────┼─────────┼─────────┼─────────┼─────────┼─────────┤╭────────╮╭────────╮├─────────┼─────────┼─────────┼─────────┼─────────┼───────────┤
   │    ───    │    Z    │    X    │    C    │    V    │    B    ││ ENTER  ││ ENTER  ││    N    │    M    │    ,    │    .    │    /    │    ───    │
   └───────────┴─────────┴─────────┼─────────┼─────────┼─────────┼╰────────╯╰────────╯┼─────────┼─────────┼─────────┼─────────┴─────────┴───────────┘
                                   │ EXIT GM │  SPACE  │  LSHFT  │   ───   ││   ───   │  ENTER  │  SPACE  │  LALT   │
                                   └─────────┴─────────┴─────────┴─────────┘└─────────┴─────────┴─────────┴─────────┘
                                   EXIT GM = &tog GAMING (single tap returns to BASE/COLEMAK)
*/
bindings = <
//╷           ╷         ╷         ╷         ╷         ╷         ╷         ╷╷         ╷         ╷         ╷         ╷         ╷         ╷           ╷
                &kp Q     &kp W     &kp E     &kp R     &kp T                          &kp Y     &kp U     &kp I     &kp O     &kp P
    &trans      &kp A     &kp S     &kp D     &kp F     &kp G                          &kp H     &kp J     &kp K     &kp L     &kp SEMI  &trans
    &trans      &kp Z     &kp X     &kp C     &kp V     &kp B     &kp RET    &kp RET   &kp N     &kp M     &kp COMMA &kp DOT   &kp FSLH  &trans
                                    &tog GAMING  &kp SPACE  &kp LSHFT  &trans  &trans  &kp RET  &kp SPACE  &kp LALT
        >;
        sensor-bindings = <&inc_dec_kp UP DOWN &inc_dec_kp C_AC_SCROLL_UP C_AC_SCROLL_DOWN>;
        };

    };
};
